h3 {
    color: purple;
}

.hidden {
    visibility: hidden;
    width: 0;
    display: none;
}

.toEdit {
    width: auto;
    min-width: 450px;
    display: inline-block;
}

.task{
    margin-bottom: 10px;
}

input [name="value"]{
    max-width: 400px;
}

#finished-tasks label{
    text-decoration: line-through;
}
