body {
    color: purple;
}

.form-inline {
    margin-bottom: 10px;
}

.hidden {
    visibility: hidden;
    width: 0;
    display: inline-block;
}

.toEdit {
    width: 300px;
    display: inline-block;
}

/*p {*/
    /*width: 400px;*/
    /*display: inline-block;*/
/*}*/

input [name="value"]{
    max-width: 400px;
}
